# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment variables
.env
.env.dev
.env.prod

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# caches
.firebase/

# OS-specific files

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
Icon?
.DOCUMENTS/
.SPOOL/
.SYNCHK/
*.lnk

# VS Code
.vscode/
*.code-workspace

# JetBrains IDEs (IntelliJ IDEA, PyCharm, WebStorm, etc.)
.idea/
*.iml
out/
target/

# Sublime Text
*.sublime-project
*.sublime-workspace

# Logs
*.log