.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* layout */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.gap-xs {
  gap: 4px;
}
.flex.gap-sm {
  gap: 8px;
}
.flex.gap-md {
  gap: 16px;
}
.flex.gap-lg {
  gap: 32px;
}
.flex.gap-xl {
  gap: 64px;
}
.Card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.VerticalSpacer.xs {
  height: 8px;
}
.VerticalSpacer.sm {
  height: 16px;
}
.VerticalSpacer.md {
  height: 32px;
}
.VerticalSpacer.lg {
  height: 64px;
}
.VerticalSpacer.xl {
  height: 128px;
}

/* form */
.TextInput {
  position: relative;
}
.TextInput input {
  min-width: 240px;
  height: 12px;
  padding: 16px;
  font-size: 12px;
  color: #171725;
  text-decoration: none;
  border: 1px solid #d5d5dc;
  border-radius: 8px;
}
.TextInputLabel {
  position: absolute;
  padding: 0 6px;
  top: -4px;
  left: 8px;
  font-size: 10px;
  color: #50b5ff;
  background-color: #ffffff;
}
.Button {
  width: 100%;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #0062ff;
  border-radius: 8px;
}
.Button:hover {
  background-color: #357ff7;
}
.Button:active {
  background-color: #003ea2;
}
.Button.disabled {
  cursor: not-allowed;
  background-color: #d5d5dc;
}
.Button.TextSize.xs {
  font-size: 10px;
}
.Button.TextSize.sm {
  font-size: 12px;
}
.Button.TextSize.md {
  font-size: 14px;
}
.Button.TextSize.lg {
  font-size: 18px;
}
.Button.TextSize.xl {
  font-size: 24px;
}

/* login */
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
.LoginLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  padding: 64px 0;
  background-color: #f7f1f1;
  border-radius: 64px 0 0 64px;
}
.ImageLoginUser {
  width: 250px;
}
.LoginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 128px;
  border: 1px solid #f1f1f5;
  border-radius: 0 64px 64px 0;
}
.login-org-name {
  padding-right: 200px;
}

/* typography */
.Typography.highlight {
  font-size: 18px;
  font-weight: 700;
  color: #ff6501;
}
a {
  text-decoration: none;
}
