/* To speed development we put all CSS in this file
  As app grows we should move CSS to components */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafb;
}

/* layout */
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex.col {
  flex-direction: column;
}
.flex.gap-xs {
  gap: 4px;
}
.flex.gap-sm {
  gap: 8px;
}
.flex.gap-md {
  gap: 16px;
}
.flex.gap-lg {
  gap: 32px;
}
.flex.gap-xl {
  gap: 64px;
}
.grid {
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, 1fr);
}
.grid.cols-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid.cols-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.cols-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.cols-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.gap-xs {
  gap: 4px;
}
.grid.gap-sm {
  gap: 8px;
}
.grid.gap-md {
  gap: 16px;
}
.grid.gap-lg {
  gap: 32px;
}
.grid.gap-xl {
  gap: 64px;
}
.Card {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d5d5dc;
  background-color: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}
.VerticalSpacer.xs {
  height: 8px;
}
.VerticalSpacer.sm {
  height: 16px;
}
.VerticalSpacer.md {
  height: 32px;
}
.VerticalSpacer.lg {
  height: 64px;
}
.VerticalSpacer.xl {
  height: 128px;
}

/* table  */
.table {
  display: flex;
}
.tableSearch {
  width: 100%;
  padding: 16px;
  border: none;
  border-bottom: 1px solid #d5d5dc;
  border-radius: 4px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1);
}
.tableHeaderCell {
  font-weight: bold;
  padding: 16px;
  border-bottom: 1px solid #d5d5dc;
}
.tableCell {
  padding: 16px;
  border-bottom: 1px solid #d5d5dc;
}
.tableColumn {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.tableCell.xs {
  min-height: 24px;
}
.tableCell.sm {
  min-height: 32px;
}
.tableCell.md {
  min-height: 64px;
}
.tableCell.lg {
  min-height: 96px;
}
.tableCell.xl {
  min-height: 128px;
}

/* AppBar */
.AppBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  border-bottom: 1px solid #d5d5dc;
}

/* form */
.Form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
.FormSections {
  display: flex;
  flex-direction: column;
  gap: 64px;
}
.FormSection.invalid {
  padding-left: 16px;
  border-left: 8px solid #ff6501;
}
.TextInput {
  position: relative;
}
.TextInput input {
  min-width: 240px;
  height: 12px;
  padding: 16px;
  font-size: 12px;
  color: #171725;
  text-decoration: none;
  border: 1px solid #d5d5dc;
  border-radius: 8px;
}
.TextInput input.invalid {
  border-color: #ff6501;
}
.TextInputLabel {
  position: absolute;
  padding: 0 6px;
  top: -4px;
  left: 8px;
  font-size: 10px;
  color: #50b5ff;
  background-color: #ffffff;
}
.SelectInput {
  position: relative;
}
.SelectInputOptions {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  max-height: 300px;
  overflow-y: scroll;
  display: flex;
  display: none;
  flex-direction: column;
  gap: 8px;
  padding: 16px;
  border: 1px solid #d5d5dc;
  background-color: #fafafb;
  border-radius: 8px;
}
.SelectInputOptions.open {
  display: flex;
}
.SelectInputOptions.openAbove {
  top: auto;
  bottom: 0%;
}
.SelectInputOption {
  padding: 8px;
  cursor: pointer;
  font-size: 11px;
  border-radius: 8px;
}
.SelectInputOption.blank {
  color: #0062ff;
}
.SelectInputOption:hover {
  background-color: #50b5ff;
}
.SelectInputValue {
  min-width: 240px;
  height: 12px;
  padding: 16px;
  font-size: 12px;
  color: #171725;
  text-decoration: none;
  border: 1px solid #d5d5dc;
  border-radius: 8px;
}
.SelectInputValue.invalid {
  border-color: #ff6501;
}
.SelectInputLabel {
  position: absolute;
  padding: 0 6px;
  top: -4px;
  left: 8px;
  font-size: 10px;
  color: #50b5ff;
  background-color: #ffffff;
}
.Button {
  display: inline-block;
  padding: 10px 16px;
  font-size: 16px;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #0062ff;
  border-radius: 8px;
}
.Button:hover,
.IconButton:hover {
  background-color: #357ff7;
}
.Button:active,
.IconButton:active {
  background-color: #003ea2;
}
.Button.fullWidth {
  width: 100%;
}
.Button.disabled,
.IconButton.disabled {
  cursor: not-allowed;
  background-color: #d5d5dc;
}
.Button.text-xs {
  font-size: 10px;
}
.Button.text-sm {
  font-size: 12px;
}
.Button.text-md {
  font-size: 14px;
}
.Button.text-lg {
  font-size: 18px;
}
.Button.text-xl {
  font-size: 24px;
}
.IconButton {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #ffffff;
  background-color: #0062ff;
  border-radius: 99px;
}
.IconButton.xs {
  width: 16px;
  height: 16px;
  padding: 2px;
}
.IconButton.sm {
  width: 24px;
  height: 24px;
  padding: 4px;
}

/* login */
.Login {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
}
.LoginLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 460px;
  padding: 64px 0;
  background-color: #f7f1f1;
  border-radius: 64px 0 0 64px;
}
.ImageLoginUser {
  width: 250px;
}
.LoginRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 16px 128px;
  background-color: #ffffff;
  border: 1px solid #f1f1f5;
  border-radius: 0 64px 64px 0;
}
.ImageLoginRoundCheckmark {
  width: 128px;
}
.login-org-name {
  padding-right: 200px;
  font-size: 18px;
  font-weight: 700;
}

/* typography */
.Typography.highlight {
  color: #ff6501;
}
a {
  text-decoration: none;
  color: #0062ff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1em;
}

/* test */
.test {
  border: 2px dotted red;
}
